@import url(reset.css);

body {
}

.header_outbox {
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  background-color: #fff;
  color: #3b5835;
  display: grid;

  /* width */
  grid-template-columns: 1fr;
  /* height: 50vh; */
  grid-template-rows: 30px 130px 40px;
  grid-template-areas:
    "header_join"
    "header_logo"
    "header_menu";

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

div {
  /* 레이아웃 나눈거 확인 */
  /* background-color: skyblue; */
  /* border: 1px solid #000; */
}

.header_outbox > div {
  /* 각 div안을 중앙정렬하는 코드*/
  display: grid;
  justify-items: center;
  align-items: center;
}

.header_logo {
  grid-area: header_logo;
  background-color: rgb(255, 255, 255);
}

.header_menu {
  /* border-top: 1px solid #cae1c4; */
  /* border-bottom: 1px solid #cae1c4; */
  grid-area: header_menu;
}

/* 회원가입  로그인 장바구니 */
#header_join {
  grid-area: header_join;
  justify-content: end;
  justify-items: center;
  margin-right: 30px;
  /* line-height: 40px; */
}
#header_join > ul > li {
  display: inline;
  padding-left: 10px;
  font-size: 13px;
  font-family: PlayfairDisplay-Italic-VariableFont_wght;
  cursor: pointer;
}

/* 로고 */
#header_logo_logo {
  width: 500px;
  height: 90px;
  display: flex;
  justify-content: center;
}

#header_logo_logo > img {
  opacity: 0.8;
}

/* 귀품의 색 */
.header_logo_bottom {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /* font-family: "Nanum Gothic Coding", monospace; */
  color: #989897;
}

/* 메뉴바 왼쪽 어사이드 나올 아이콘 */
#h_left_menu {
  position: absolute;
  top: 170px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
  position: fixed;
  opacity: 0.6;
}

#h_left_menu:hover {
  opacity: 1;
}

/* 어사이드 */
#lightbox {
  position: absolute;
  position: fixed;

  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;

  display: none;
}

#aside {
  position: relative;
}

/* 차차 잎차~ 메인메뉴 */
.h_menu_main1 {
  display: inline-block;
  font-weight: bolder;
  background-color: #fff;
  /* border: 1px solid rebeccapurple; */
  width: 120px;
  height: 20px;
  padding: 10px 0 5px 10px;
  font-size: 17px;

  position: relative;
  cursor: pointer;
}

.h_menu_main1 > a {
  color: #3b5835;
}

.h_menu_sub1 {
  display: none;
  position: absolute;
  /* border: 1px solid rebeccapurple; */

  font-weight: 500;
  margin: 10px 0 0 -20px;

  width: 140px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* 마우스 오버시 서브메뉴 보임 */
.h_menu_main1:hover ul.h_menu_sub1 {
  display: block;
}

.h_menu_sub1 li {
  font-size: 14px;
  /* border: 1px solid rebeccapurple; */
  padding: 10px 0 10px 30px;
  background-color: #f5f5f4;
  color: #3b5835;
}

.h_menu_sub1 li:hover {
  background-color: #3b5835;
  color: #fff;
}

.h_menu_sub1 > li > a {
  color: #3b5835;
}
.h_menu_sub1 > li > a:hover {
  color: #fff;
}

/* 채팅창 나올 아이콘 */

.h_bottom_menu {
  cursor: pointer;
  z-index: 1;
  /* border: 1px solid red; */
  margin: 13px;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* 채팅창 */
#chatting {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  z-index: 2;
  display: none;
}

/* 채팅창 닫기버튼 */
#chatting_close {
  /* border: 1px solid red; */
  width: 20px;
  height: 20px;

  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 560px;
  margin-right: 25px;
  z-index: 3;
  cursor: pointer;
}
